.video-grid-container{
  width: 100%;
}
.feature-video-grid {
  display: grid;
  grid-template-columns: 30% 60%;
  gap: 1rem 3rem;
  margin: auto;
  max-width: 70rem;
  justify-content: center;
  align-items: flex-start;
}
.fv-info, .fv-videos{
  margin-top: 2rem; 
}
.fv-intro-image {
  max-width: 10rem;
}

@media screen and (max-width: 900px) {
  .feature-video-grid {
    grid-template-columns:1fr;
    margin: 1rem;
  }
  .fv-info {
    border-bottom: 2px solid var(--Primary_Disabled_Color);
  }
}
