.chip-item {
  border: 1px solid var(--Primary_Color);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  margin: 0 .5rem .5rem .5rem ;
}
.filled-chip {
  background-color: var(--Primary_Color);
  color: var(--Color_White);
}
.chip-item:hover {
  background-color: var(--Primary_Color);
  color: var(--Color_White);
}
