.notes-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.note-form {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.note-form input,
textarea {
  width: 90%;
}
.button-area {
  width: 100%;
}
