.main-wrapper{
  display: flex;
  min-height: calc(100vh - 4rem);
}
.main-container{
  width: 100%;
  display: flex;
}
.content-area {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  width: 80%;
}
.category-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.video-grid {
  margin-top: 1rem;
  display: grid;
  gap: 2.5rem 2rem;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
}

@media screen and (max-width:615px){
  .main-container{
    display: flex;
    flex-direction: column-reverse;
  }
}
