.feature-video-item {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--Primary_Disabled_Color);
  position: relative;
}
.feature-video-item:hover {
  background-color: var(--Primary_Color_100);
}
.fv-video-image-container {
  position: relative;
}
.video-time {
  bottom: 3px;
  right: 0;
}
.fv-video-image {
  max-width: 8rem;
}
.trash-btn {
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
}
.trash-btn:hover {
  color: var(--Color_Danger_500);
}
.fv-text {
  width: 100%;
  position: relative;
}
.fv-title {
  width: 80%;
  font-size: 1.1rem;
  font-family: var(--roboto-font);
}
.fv-channel {
  opacity: 0.8;
}
