.video-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.video-title {
  font-family: var(--Lato_Font);
  font-weight: 300;
}
.filled-like {
  color: var(--Primary_Color);
}
.filled-watch-later {
  color: var(--Primary_Color);
}
.feature-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.feature-list li{
  margin: 5px 16px 5px 0;
}
.feature-list button{
  padding: 0;
}
.feature-list li:hover {
  color: var(--Primary_Color);
  cursor: pointer;
}
