:root {
  --navbar_shadow: 2px 4px 10px var(--Primary_Color_100);
  --roboto-font: "Roboto", sans-serif;
}
body {
  font-family: var(--Lato_Font);
}
.main-container {
  display: flex;
}
.nav-fs {
  font-size: 14px;
}
.pointer {
  cursor: pointer;
}
.bd-3 {
  border-radius: 3px;
}
.mg-l {
  margin-left: 3px;
}
.mg-r {
  margin-right: 5px;
}
.mg-top {
  margin-top: 5px;
}
.clr-red {
  color: var(--Color_Danger_500);
}
.flex-dir-col {
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-align-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
